.input-wrapper{
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: var(--color-dark-2);
  border-radius: 4px;
  border: 2px solid var(--color-primary);
}

.input-wrapper.preview{
  border:none;
}

.input-wrapper:hover{
  background-color: var(--color-dark);
}

.input-file{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.input-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  border: 3px dashed var(--color-primary);
  border-radius: 4px;
  cursor: pointer;
}

.input-zone::before{
  content: "+";
  font-size: 5em;
  color: var(--color-primary);
}


.input-preview{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}




.input-file-label{
  font-size: 0.8em;
}