.result{

  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  gap: 20px;
  width: auto;
  padding: 40px;
  background-color: var(--color-dark-2);
  border-radius: 4px;
  box-shadow: 0 0 5px var(--color-dark-3);
}

.result-title{
  align-self: center;
  justify-self: center;
  font-size: 1.5em;
}

.result-items{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.result-item{
  position: relative;
}

.result-item.best{
  align-self: center;
}

.result-item-info{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap:20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(0,0,0,0.7);
  border-radius: 4px;
  box-shadow: 0 0 5px var(--color-dark-3);
  opacity: 0;
  transition: opacity 0.3s;
}

.result-item-name{
  font-size: 1.2em;
  text-align: center;
}
.result-item-domain{
  font-size: 1em;
  text-align: center;
}

.result-item-info:hover{
  opacity: 1;
}

.result-item-probability{
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.result-item-probability .result-item-probability-value{
  padding: 4px;
  font-size:1.5em;
  font-weight: bold;
  opacity: 0.6;
  background-color: rgba(0,0,0,0.5);
  border-radius: 8px;
  color: var(--color-light);
}

@media screen and (max-width: 768px){
  .result{
    padding: 10px;
  }

  .result-items .result-item-info{
    display: none;
  }
}
